.bd_weixin_popup_foot {
	display: none !important;
}
#bdshare_weixin_qrcode_dialog {
	height: 270px !important;
}
#J_qr_code_share {
	left: 50% !important; width: 260px; height: 260px;
}
@media all and (max-width:991px)
{
#J_qr_code_share {
	left: 50% !important; top: 30% !important; width: 260px; height: 260px;
}
}
.date_picker {
	background: rgb(254, 254, 254); padding: 7px; border-radius: 3px; border: 1px solid rgb(187, 187, 187); border-image: none; width: 226px; color: rgb(51, 51, 51); font-size: 14px;
}
.date_selector {
	background: none; font: 12px/1.5 Arial; margin: 0px; padding: 0px; border: currentColor; border-image: none; width: auto; height: auto; text-align: left; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.date_selector * {
	background: none; font: 12px/1.5 Arial; margin: 0px; padding: 0px; border: currentColor; border-image: none; width: auto; height: auto; text-align: left; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.date_selector {
	background: rgb(251, 251, 251); margin: -1px 0px 0px; padding: 17px 10px 10px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 240px; display: none; position: absolute; z-index: 100000; box-shadow: 0px 2px 2px #ccc;
}
.date_selector_ieframe {
	display: none; position: absolute; z-index: 99999;
}
.date_selector .nav p {
	clear: none;
}
.date_selector .month_nav {
	margin: 0px 0px 3px; padding: 0px; text-align: center; display: block; position: relative;
}
.date_selector .year_nav {
	margin: 0px 0px 3px; padding: 0px; text-align: center; display: block; position: relative;
}
.date_selector .nav {
	width: 17.5em;
}
.date_selector .month_nav {
	width: 55%; float: left;
}
.date_selector .year_nav {
	width: 42%; margin-right: -8px; float: right;
}
.date_selector .month_name {
	top: 0px; width: auto; height: auto; line-height: 0; font-weight: bold; display: inline-block; position: relative; background-image: none;
}
.date_selector .year_name {
	top: 0px; width: auto; height: auto; line-height: 0; font-weight: bold; display: inline-block; position: relative; background-image: none;
}
.date_selector .button {
	border-radius: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 18px; height: 18px; text-align: center; color: rgb(89, 133, 199); line-height: 16px; overflow: hidden; font-size: 12px; font-weight: bold; display: inline-block; position: absolute;
}
.date_selector .button:hover {
	background: rgb(89, 133, 199); border-color: rgb(58, 147, 13); color: rgb(255, 255, 255); cursor: pointer;
}
.date_selector .hover.button {
	background: rgb(89, 133, 199); border-color: rgb(58, 147, 13); color: rgb(255, 255, 255); cursor: pointer;
}
.date_selector .prev {
	left: 0px;
}
.date_selector .next {
	right: 0px;
}
.date_selector table {
	margin: 0px; width: 220px; clear: both; border-collapse: collapse; border-spacing: 0;
}
.date_selector th {
	padding: 0px !important; width: 2.5em; height: 2em; text-align: center !important; color: rgb(102, 102, 102); font-weight: normal;
}
.date_selector td {
	padding: 0px !important; width: 2.5em; height: 2em; text-align: center !important; color: rgb(102, 102, 102); font-weight: normal;
}
.date_selector th {
	font-size: 12px;
}
.date_selector td {
	background: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-image: none; text-align: center; color: rgb(89, 133, 199); line-height: 2em; white-space: nowrap;
}
.date_selector td.today {
	background: rgb(238, 238, 238);
}
.date_selector td.unselected_month {
	color: rgb(204, 204, 204);
}
.date_selector td.selectable_day {
	cursor: pointer;
}
.date_selector td.selected {
	background: rgb(43, 87, 154); color: rgb(255, 255, 255); font-weight: bold;
}
.date_selector td.selectable_day:hover {
	background: rgb(89, 133, 199); color: rgb(255, 255, 255);
}
.date_selector td.hover.selectable_day {
	background: rgb(89, 133, 199); color: rgb(255, 255, 255);
}
.italic {
	font-style: italic;
}
#HTMLDATA .wqdSubnavShow {
	display: block !important;
}
.wqdLogoCenteros {
	margin: 0px 15px;
}
.wqdLogoLeftos {
	float: left !important;
}
.wqdLogoTopos {
	text-align: center !important; font-size: 0px; margin-bottom: 10px; float: none !important;
}
.wqdLogoTopos .wqdLogoBoxos {
	margin: 15px 0px; display: inline-block !important;
}
.wqdNavTopos {
	top: 50px; width: 100%; position: absolute !important; z-index: 9;
}
.wqdView .wqdAreaView .wqdNavTopos {
	left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%);
}
.wqdNavRightos {
	float: right !important;
}
.wqdNavCenteros {
	text-align: center; float: none !important;
}
.wqdNavBottomos {
	text-align: center; float: none !important;
}
.wqdNavCenteros .navbar-nav {
	text-align: center !important; float: none !important;
}
.wqdNavBottomos .navbar-nav {
	text-align: center !important; float: none !important;
}
.wqdPhoneNav .wqdNavList {
	background-color: rgb(255, 255, 255);
}
.wqdIphoneView .wqdNavTopos {
	top: 0px; position: relative !important;
}
.wqdIphoneView .wqdLogoLeftos {
	margin-bottom: 0px; float: left !important; position: relative !important; z-index: 10;
}
.wqdLogoTopos {
	margin-bottom: 0px; float: left !important; position: relative !important; z-index: 10;
}
.wqdIphoneView .wqdLogoCenteros {
	left: 0px !important; top: 0px !important; position: absolute !important;
}
.wqdIphoneView .wqdNavRightos {
	float: none !important;
}
.sideNavFloat {
	position: fixed !important;
}
.sideNavFixed {
	position: fixed !important;
}
.wqdNavButton {
	margin: 32px 0px 0px 32px; border-radius: 4px; width: 48px; height: 44px; text-align: center; line-height: 44px; font-size: 26px; display: none; position: fixed; z-index: 99; cursor: pointer;
}
.wqdNowidth {
	width: 0px !important; overflow: hidden;
}
.wqdIphoneView .wqdNowidth {
	width: 100% !important; overflow: auto;
}
.wqdIphoneView .wqdNavButton {
	display: none !important;
}
.wqdIphoneView .sideNavFloat {
	position: relative !important;
}
.wqdIphoneView .sideNavFixed {
	position: relative !important;
}
.wqdPhoneNav .wqdTopNavbox {
	top: 100% !important;
}
.wqdInlineMenu .wqdNavWrap .wqdNavList .wqdNavLi > a {
	display: inline-block;
}
.wqdPhoneNav .wqdNavList {
	background-color: rgb(255, 255, 255);
}
.wqdPhoneNav .wqdNavList .wqdNavLi {
	
}
.wqdPhoneNav .wqdNavList :first-child.wqdNavLi {
	margin-top: 0px;
}
.wqdPhoneNav .wqdTopNavbox {
	z-index: 30 !important;
}
.wqdPhoneNav .wqdPhoneNavBtn {
	width: 100%; height: 100%; text-align: center; cursor: pointer;
}
.wqdPhoneNav .wqdPhoneNavBtn svg {
	fill: #333;
}
.wqdPhoneNav .wqdTopNavbox .resizeT {
	display: none;
}
.wqdPhoneNav .wqdTopNavbox .resizeLT {
	display: none;
}
.wqdPhoneNav .wqdTopNavbox .resizeTR {
	display: none;
}
.wqdCommonNav .wqdTopNavbox > .wqdelementEditBox {
	overflow: hidden !important;
}
.wqdTopNavWrap {
	z-index: 6;
}
.wqdSideNavWrap {
	z-index: 6;
}
.wqdPhoneNav {
	z-index: 6;
}
.wqdNavWrap {
	width: 100%; height: 100%;
}
.wqdNavWrap .wqdNavList {
	width: 100%; height: 100%;
}
.wqdNavWrap .wqdNavList {
	font-size: 0px;
}
.wqdTopNavWrap .wqdNavList .wqdNavLi {
	display: inline-block;
}
.wqdNavWrap .wqdNavList .wqdNavLi > a {
	border-color: rgb(51, 51, 51); padding: 10px 15px; color: rgb(51, 51, 51); font-size: 14px; display: block; cursor: pointer;
}
.wqdNavWrap .wqdNavList .wqdNavLi > a:hover {
	border-color: rgb(255, 255, 255);
}
.wqdSideNavWrap .wqdNavWrap .wqdNavList .wqdNavLi > a {
	text-align: center;
}
.wqdAddsecondnav {
	border-radius: 3px; border: 1px dashed rgb(30, 193, 253); border-image: none; text-align: center; color: rgb(30, 193, 253); font-size: 20px; font-weight: 700; display: block; position: absolute; z-index: 99; background-color: rgba(255, 255, 255, 0.8);
}
.wqdAddsecondnav:hover {
	color: rgb(30, 193, 253);
}
.wqdSecondNav {
	width: 100%; height: 100%; position: relative;
}
.wqdSideNavWrap {
	height: 100%; position: fixed; background-color: rgb(238, 238, 238);
}
.wqdSecondNavbox {
	z-index: 30 !important;
}
.wqdSideNavButton {
	border-color: rgb(51, 51, 51); margin: 32px 0px 0px 32px; border-radius: 4px; width: 48px; height: 44px; text-align: center; color: rgb(51, 51, 51); line-height: 44px; font-size: 26px; display: none; position: fixed; z-index: 99; cursor: pointer; box-sizing: content-box; background-color: rgb(238, 238, 238); -webkit-box-sizing: content-box;
}
#HTMLDATA .wqdSecondNav::before {
	border: 1px dashed rgb(30, 193, 253); border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0; content: "";
}
.wqd-carouseOverlay .wqdSecondNav::before {
	border: 1px dashed rgb(30, 193, 253); border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0; content: "";
}
.wqdTopNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeT {
	display: none;
}
.wqdTopNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeLT {
	display: none;
}
.wqdTopNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeTR {
	display: none;
}
.wqdSideNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeL {
	display: none;
}
.wqdSideNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeLT {
	display: none;
}
.wqdSideNavWrap .wqdSecondNavbox > .wqdelementEditBox > .resizeLB {
	display: none;
}
.wqdNavMenuWrap {
	width: 120px; height: 32px; font-size: 0px; position: absolute; z-index: 9999;
}
.wqdNavMenuWrap ul li {
	border-radius: 50%; width: 30px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; font-size: 12px; margin-left: 10px; display: inline-block; cursor: pointer; box-shadow: 0px 0px 6px #ccc; background-color: rgb(255, 255, 255);
}
.wqdNavMenuWrap ul li:first-child {
	margin-left: 0px;
}
.wqdNavMenuWrap ul li .navMenuText {
	color: rgb(255, 255, 255); display: none;
}
.wqdNavMenuWrap ul li .navMenuBtn {
	background: url("../../../images/v2/design/elementEdit/btn.png") no-repeat; width: 30px; height: 30px; display: block;
}
.wqdNavMenuWrap ul li .navBtn1 {
	background-position: 5px 6px;
}
.wqdNavMenuWrap ul li .navBtn2 {
	background-position: 5px -517px;
}
.wqdNavMenuWrap ul li .navBtn3 {
	background-position: 5px -74px;
}
.wqdNavMenuWrap ul li:hover {
	background-color: rgb(73, 162, 210);
}
.wqdNavMenuWrap ul li.wqdNavMenudelete:hover {
	background-color: rgb(255, 106, 106);
}
.wqdNavMenuWrap ul li:hover .navMenuBtn {
	display: none;
}
.wqdNavMenuWrap ul li:hover .navMenuText {
	display: block;
}
.wqdCarousel {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.wqdCarousel .carousel-control {
	z-index: 99;
}
.wqdCarousel .carousel-inner {
	width: 100%; height: 100%;
}
.wqdCarousel .carousel-inner .item {
	width: 100%; height: 100%;
}
.wqdCarousel .carousel-inner .item {
	position: absolute;
}
.wqdCarousel .carousel-inner .item .bannerContainer {
	background: no-repeat center / cover; width: 100%; height: 100%; position: relative;
}
.wqdCarousel .carousel-control {
	padding: 5px; top: 50%; width: 50px; height: 50px; text-align: center; line-height: 50px; margin-top: -25px; display: none; position: absolute; z-index: 50; cursor: pointer; opacity: 0.5;
}
.wqdCarousel:hover .carousel-control {
	display: block;
}
.wqdCarousel .left.carousel-control {
	left: 1%;
}
.wqdCarousel .right.carousel-control {
	right: 1%;
}
.wqdCarousel .carousel-indicators {
	left: 50%; width: 90%; text-align: center; bottom: 8px; font-size: 0px; margin-left: -45%; position: absolute; z-index: 50;
}
.wqdCarousel .left.carousel-indicators {
	text-align: left;
}
.wqdCarousel .center.carousel-indicators {
	text-align: center;
}
.wqdCarousel .right.carousel-indicators {
	text-align: right;
}
.wqdCarousel .del.carousel-indicators {
	display: none;
}
.wqdCarousel .btn1.carousel-control {
	top: 50%;
}
.wqdCarousel .btn2.carousel-control {
	top: 83%;
}
.wqdCarousel .btn3.carousel-control {
	display: none !important;
}
.wqdCarousel .carousel-control path {
	fill: #fff;
}
.wqdCarousel .carousel-control:hover path {
	fill: #fff;
}
.wqdelementEditBox .carousel-indicators li {
	margin: 3px; border-radius: 100px; width: 20px; height: 20px; display: inline-block; cursor: pointer; background-color: rgba(0, 0, 0, 0);
}
.wqdCarousel .carousel-indicators li.active {
	border: 2px solid rgb(155, 220, 255); border-image: none; width: 20px; height: 20px; background-color: rgb(155, 220, 255);
}
.wqdCarousel .carousel-indicators li:first-child {
	margin-left: 0px;
}
.wqdCarousel .indicator_7 li:first-child {
	margin-left: 3px;
}
.wqdCarousel .indicator_6 li {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
.wqdCarousel .indicator_7 li {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
.wqdCarousel .indicator_6 li.active {
	border: 1px solid rgb(155, 220, 255); border-image: none;
}
.wqdCarousel .indicator_7 li.active {
	border: 1px solid rgb(155, 220, 255); border-image: none;
}
.carousel-inner > .item {
	transition:transform 0.6s ease-in-out; backface-visibility: hidden; -webkit-transition: -webkit-transform .6s ease-in-out; -o-transition: -o-transform .6s ease-in-out; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -moz-transition: -moz-transform .6s ease-in-out;
}
.carousel-inner > .active.item {
	left: 0px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0);
}
.carousel-inner > .left.next.item {
	left: 0px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0);
}
.carousel-inner > .right.prev.item {
	left: 0px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0);
}
.carousel-inner > .left.active.item {
	left: 0px; transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0);
}
.carousel-inner > .prev.item {
	left: 0px; transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0);
}
.carousel-inner > .right.active.item {
	left: 0px; transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.carousel-inner > .next.item {
	left: 0px; transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .wqdSwitch1 {
	transition-property: transform !important; -webkit-transition-property: -webkit-transform; -o-transition-property: -o-transform; -moz-transition-property: -moz-transform;
}
.wqdCarousel .wqdSwitch2 {
	transition-property: transform !important; -webkit-transition-property: -webkit-transform; -o-transition-property: -o-transform; -moz-transition-property: -moz-transform;
}
.wqdCarousel .wqdSwitch3 {
	transition-property: transform !important; -webkit-transition-property: -webkit-transform; -o-transition-property: -o-transform; -moz-transition-property: -moz-transform;
}
.wqdCarousel .wqdSwitch4 {
	transition-property: transform !important; -webkit-transition-property: -webkit-transform; -o-transition-property: -o-transform; -moz-transition-property: -moz-transform;
}
.wqdCarousel .wqdSwitch5 {
	transition-property: transform !important; -webkit-transition-property: -webkit-transform; -o-transition-property: -o-transform; -moz-transition-property: -moz-transform;
}
.wqdCarousel .wqdDisappear {
	transition-property: opacity !important; -webkit-transition-property: opacity; -o-transition-property: opacity; -moz-transition-property: opacity;
}
.wqdCarousel .left.active.wqdSwitch1 {
	transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0);
}
.wqdCarousel .prev.wqdSwitch1 {
	transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0);
}
.wqdCarousel .right.active.wqdSwitch1 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .next.wqdSwitch1 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .left.active.wqdSwitch2 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .prev.wqdSwitch2 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .right.active.wqdSwitch2 {
	transform: translate3d(0px, 100%, 0px); -webkit-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0);
}
.wqdCarousel .next.wqdSwitch2 {
	transform: translate3d(0px, 100%, 0px); -webkit-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0);
}
.wqdCarousel .left.active.wqdSwitch3 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .prev.wqdSwitch3 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .right.active.wqdSwitch3 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .next.wqdSwitch3 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .left.active.wqdSwitch4 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .prev.wqdSwitch4 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .right.active.wqdSwitch4 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .next.wqdSwitch4 {
	transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -moz-transform: translate3d(100%, 0, 0);
}
.wqdCarousel .left.active.wqdSwitch5 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .prev.wqdSwitch5 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .right.active.wqdSwitch5 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
.wqdCarousel .next.wqdSwitch5 {
	transform: translate3d(0px, -100%, 0px); -webkit-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0);
}
@media all and (max-width:767px)
{
.wqdCarousel .carousel-control {
	display: none !important;
}
}
.wqdMapGroup {
	width: 100%; height: 100%; position: relative;
}
.wqdMapbox {
	width: 100%; height: 100%; position: relative;
}
#HTMLDATA .wqdMapbox {
	background: url("../../images/v2/design/mapEdit/mapbg.jpg") no-repeat center / cover;
}
#cboxOverlay {
	z-index: 9998;
}
#colorbox {
	z-index: 9998;
}
#cboxOverlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; background-color: rgb(0, 0, 0);
}
.colbox {
	padding: 46px 55px; border-radius: 8px; width: 300px; overflow: hidden; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.colbox i.tag {
	background: url("../../../images/v2/design/columnMenu/success_error.png") no-repeat; width: 50px; height: 58px; vertical-align: middle; float: left; display: inline-block;
}
.colbox i.success.tag {
	background-position: 0px 4px;
}
.colbox i.error.tag {
	background-position: -50px 4px;
}
.colbox .point {
	margin-left: 13px; vertical-align: middle; float: left; display: inline-block;
}
.colbox .point h2 {
	color: rgb(51, 51, 51); font-size: 24px;
}
.colbox .success.point h2 {
	line-height: 58px;
}
.colbox .error.point h2 {
	line-height: 35px;
}
.colbox .error.point p {
	color: rgb(102, 102, 102); line-height: 23px; font-size: 12px;
}
div.fa-phone {
	color: rgb(255, 255, 255); font-size: 24px; margin-top: 9px; margin-left: 10px; float: left;
}
#wqdShowQQD .serQQ {
	top: 50%; width: 40px; height: 40px; right: -40px; margin-top: -20px; position: fixed; z-index: 5; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(103, 102, 105);
}
#wqdShowQQD .serQQ:hover {
	background-color: rgb(80, 79, 85);
}
#wqdShowQQD .uhide {
	display: none;
}
#wqdShowQQD .icon {
	background: url("http://member.wqdian.net/images/design/icon25.png") no-repeat; width: 26px; height: 20px; margin-top: 12px; margin-left: 10px; display: inline-block;
}
.ifshow {
	transition:0.35s; right: 0px !important; -webkit-transition: 0.35s; -o-transition: 0.35s; -moz-transition: 0.35s;
}
.noshow {
	transition:0.35s; right: -105px !important; -webkit-transition: 0.35s; -o-transition: 0.35s; -moz-transition: 0.35s;
}
.on.noshow {
	right: 0px !important;
}
#wqdShowQQD .serShow {
	top: 50%; width: 105px; right: -105px; margin-top: -20px; position: fixed; z-index: 9; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(80, 79, 85);
}
#wqdShowQQD .serShow:hover {
	transition:0.35s; right: 0px !important; -webkit-transition: 0.35s; -o-transition: 0.35s; -moz-transition: 0.35s;
}
#wqdShowQQD .serShow .header {
	height: 40px; border-bottom-color: rgb(108, 107, 112); border-bottom-width: 1px; border-bottom-style: solid; max-height: 40px;
}
#wqdShowQQD .serShow span {
	color: rgb(255, 255, 255); line-height: 40px; padding-left: 9px; font-size: 14px; display: inline-block;
}
#wqdShowQQD .down {
	padding: 15px 12px 10px;
}
#wqdShowQQD .down ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
#wqdShowQQD .down ul li {
	list-style: none; overflow: hidden; margin-bottom: 7px; max-width: 80px;
}
#wqdShowQQD .down ul li:last-child {
	margin-bottom: 4px;
}
.shuoming div {
	line-height: 20px;
}
#wqdShowQQD .down .shuoming {
	color: rgb(153, 153, 153); font-size: 12px; -ms-word-wrap: break-word;
}
#wqdShowQQD .down ul li > a img {
	max-width: 100%;
}
.groupContainerOne .containerWarp {
	background-color: rgba(207, 228, 228, 0.46);
}
.freeContainerOne .containerWarp {
	background-color: rgba(207, 228, 228, 0.46);
}
.groupContainerTwo .containerWarp {
	background-color: rgba(190, 161, 167, 0.46);
}
.freeContainerTwo .containerWarp {
	background-color: rgba(190, 161, 167, 0.46);
}
.containerWarp {
	width: 100%; height: 100%; position: relative;
}
#HTMLDATA .containerWarp::before {
	border: 1px dashed rgb(30, 193, 253); border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0; content: "";
}
.wqd-carouseOverlay .containerWarp::before {
	border: 1px dashed rgb(30, 193, 253); border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0; content: "";
}
.groupContainerTwo {
	display: none; z-index: 999 !important;
}
#HTMLDATA .insideShow.groupContainerTwo {
	display: block;
}
.wqd-carouseOverlay .insideShow.groupContainerTwo {
	display: block;
}
